<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>-->
<!--    <permission android:name="com.fpf.smartscan.permission.TEXT_EMBED" android:protectionLevel="signature" />-->
<!--    <permission android:name="com.fpf.smartscan.permission.IMAGE_EMBED" android:protectionLevel="signature" />-->

    <application
        android:name=".App"
        android:largeHeap="true"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartScan"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:targetApi="33">
        <service
            android:name="com.fpf.smartscan.services.MediaIndexForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
<!--        <service-->
<!--            android:name="com.fpf.smartscan.services.TextEmbedderAidlService"-->
<!--            android:exported="true"-->
<!--            android:permission="com.fpf.smartscan.permission.TEXT_EMBED"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="com.fpf.smartscan.intent.TEXT_EMBED"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name="com.fpf.smartscan.services.ImageEmbedderAidlService"-->
<!--            android:exported="true"-->
<!--            android:permission="com.fpf.smartscan.permission.IMAGE_EMBED"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="com.fpf.smartscan.intent.IMAGE_EMBED"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
        <activity
            android:name="com.fpf.smartscan.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartScan.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
    </application>
</manifest>